<app-navbar></app-navbar>

<div class="art">
    <div *ngIf="isUser" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Entre User Name</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div *ngIf="isregister" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Registration Sucess</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div *ngIf="isEmail" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Entre Email</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div *ngIf="isEmailValid" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Invalid Email Id</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div *ngIf="isPassword" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Entre Password</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>


<div class="frm">
    <div class="frm2">
        <form [formGroup]="addForm" (ngSubmit)="addUser()">
            
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    formControlName="email" [(ngModel)]="user.email">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Entre New Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password"
                    [(ngModel)]="user.password">
            </div>
            <div class="mb-3 form-check">
            </div>
            <button type="submit" class="btn btn-secondary">Change Password</button>
        </form>
        
    </div>

</div>