.frm{
    margin-left: 30%;
    margin-right: 20%;
    margin-top: 5%;
    
    font-size: larger;
    
}

.btn{
    margin-left: 35%;
}

.card{
    margin-left: 10%;
    margin-bottom: 10%;
    margin-right: 10%;
}

.cd{
    margin-left: 8%;
}

.table{
    margin-left: 8%;
    margin-right: 10%;
}