<app-navbar></app-navbar>
<Body >  
<div class = "about">
<h2>About Udaan</h2>
<p>We launched with the underlying premise that a great travel experience 
    translates to happy guests and in turn, leads to a healthier business.
     Our domestic network has been growing stronger and we’ve expanded into key metro cities. 
     We operate with the capacity to serve over a million guests every month, connecting several
     destinations across the country.

     We aim to move beyond being just an airline, to meet the demands of an increasingly digital lifestyle.
      Our time in the aviation industry has reinforced our belief that a great flying experience 
      must be made accessible to everyone.
</p>
<br>


<h2>Our Mission</h2>
<p>Our mission is to provide the highest quality products and services to our customers while maintaining a
    commitment to ethical business practices and community involvement.
</p>
<p>“To provide every citizen of the India with the best
     service of the air travel to the extensive selection of destinations possible.”</p>
</div>